<h1>Numpy and Pandas Home Assignment</h1>
In this assignment, we will use pandas and numpy to do some fairly basic analysis on equities.

<h3>Imports</h3>

In [1]:
import datetime
import numpy as np
import pandas as pd
%matplotlib inline
import yfinance as yf
import pandas_datareader.data as web

<h3>Get data on the following four stocks from yahoo finance</h3>
<li>MS, GS, JPM, C
<li>Use the date range 2013/1/1/ to 2018/9/24

In [2]:
start=datetime.datetime(2013,1,1)
end=datetime.datetime(2018,9,24)
df=web.DataReader(['MS','GS','JPM','C'],'yahoo', start, end)['Close']
print(df)

Symbols            MS          GS         JPM          C
Date
2013-01-02  19.620001  131.660004   44.660000  41.250000
2013-01-03  19.580000  130.940002   44.570000  41.389999
2013-01-04  20.190001  134.509995   45.360001  42.430000
2013-01-07  19.799999  134.259995   45.410000  42.470001
2013-01-08  19.650000  133.050003   45.500000  42.459999
...               ...         ...         ...        ...
2018-09-18  47.849998  228.889999  114.300003  71.360001
2018-09-19  49.099998  235.580002  117.620003  73.720001
2018-09-20  49.880001  237.399994  118.629997  74.790001
2018-09-21  49.410000  235.339996  117.849998  74.150002
2018-09-24  48.560001  232.899994  116.720001  73.839996

[1443 rows x 4 columns]

<h3>Compute the cross correlation coefficients on the stocks</h3>
<li>Create a df 'rets' with the one day percentage changes using the column 'close'
<li>Calculate cross correlations on the rets df

In [3]:
rets=df.pct_change()
print(rets)
rets_cor=rets.iloc[1:].corr()
print(rets_cor)

Symbols           MS        GS       JPM         C
Date
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -0.002039 -0.005469 -0.002015  0.003394
2013-01-04  0.031154  0.027264  0.017725  0.025127
2013-01-07 -0.019317 -0.001859  0.001102  0.000943
2013-01-08 -0.007576 -0.009012  0.001982 -0.000236
...              ...       ...       ...       ...
2018-09-18  0.003565  0.004388  0.004041  0.006772
2018-09-19  0.026123  0.029228  0.029046  0.033072
2018-09-20  0.015886  0.007726  0.008587  0.014514
2018-09-21 -0.009423 -0.008677 -0.006575 -0.008557
2018-09-24 -0.017203 -0.010368 -0.009588 -0.004181

[1443 rows x 4 columns]
Symbols        MS        GS       JPM         C
Symbols
MS       1.000000  0.844340  0.801232  0.809949
GS       0.844340  1.000000  0.813289  0.792073
JPM      0.801232  0.813289  1.000000  0.849607
C        0.809949  0.792073  0.849607  1.000000

<h3>Select a pair of stocks to trade</h3>
<li>Choose the pair with the highest correlation
<li>You can just eyeball the result and pick the highest correlation pairs
<li>Create a new df 'pairs' with the returns columns of the highest correlation pairs

In [4]:
# trade JPM and C, because have the highest corr
pairs=rets[['JPM','C']]
print(pairs)

Symbols          JPM         C
Date
2013-01-02       NaN       NaN
2013-01-03 -0.002015  0.003394
2013-01-04  0.017725  0.025127
2013-01-07  0.001102  0.000943
2013-01-08  0.001982 -0.000236
...              ...       ...
2018-09-18  0.004041  0.006772
2018-09-19  0.029046  0.033072
2018-09-20  0.008587  0.014514
2018-09-21 -0.006575 -0.008557
2018-09-24 -0.009588 -0.004181

[1443 rows x 2 columns]

<h3>Calculate the mean and std dev of the columns (returns of the two stocks)</h3>
<li>Note that line 1 contains a NaN. You'll have to get rid of this line
<li>df.describe() returns summary stats for all cols in a dataframe. You can use this to extract means and standard deviations

In [5]:
#C and JPM
new_df = rets[['C','JPM']].iloc[1:]
c_std = new_df.describe()['C']['std']
j_std = new_df.describe()['JPM']['std']
c_mean = new_df.describe()['C']['mean']
j_mean = new_df.describe()['JPM']['mean']
print('std of C and JPM: ',c_std, j_std)
print('mean of C and JPM: ', c_mean, j_mean)

std of C and JPM:  0.014852989436757653 0.012828759567116524
mean of C and JPM:  0.0005143540975771446 0.0007486536257219457

<h3>Create a new column "Long_JPM_Short_C"</h3>
<li>If the return of C is greater than its mean + 0.25* std
<li> AND
<li>If the return of JPM is less than its mean - 0.25*std
<li>The value in this col should be True or False

In [6]:
pairs=pairs.copy()
pairs['Long_JPM_Short_C']=np.where((pairs['C']>c_mean+0.25*c_std) & (pairs['JPM']<j_mean-0.25*j_std), True, False)
print(pairs)

Symbols          JPM         C  Long_JPM_Short_C
Date
2013-01-02       NaN       NaN             False
2013-01-03 -0.002015  0.003394             False
2013-01-04  0.017725  0.025127             False
2013-01-07  0.001102  0.000943             False
2013-01-08  0.001982 -0.000236             False
...              ...       ...               ...
2018-09-18  0.004041  0.006772             False
2018-09-19  0.029046  0.033072             False
2018-09-20  0.008587  0.014514             False
2018-09-21 -0.006575 -0.008557             False
2018-09-24 -0.009588 -0.004181             False

[1443 rows x 3 columns]

<h3>Create a new column "Long_C_Short_JPM"</h3>
<li>If the return of JPM is greater than its mean + 0.25* std
<li> AND
<li>If the return of C is less than its mean - 0.25*std
<li>The value in this col should be True or False

In [7]:
pairs=pairs.copy()
pairs['Long_C_Short_JPM']=np.where((pairs['JPM']>j_mean+0.25*j_std)&(pairs['C']<c_mean-0.25*c_std), True, False)
print(pairs)

Symbols          JPM         C  Long_JPM_Short_C  Long_C_Short_JPM
Date
2013-01-02       NaN       NaN             False             False
2013-01-03 -0.002015  0.003394             False             False
2013-01-04  0.017725  0.025127             False             False
2013-01-07  0.001102  0.000943             False             False
2013-01-08  0.001982 -0.000236             False             False
...              ...       ...               ...               ...
2018-09-18  0.004041  0.006772             False             False
2018-09-19  0.029046  0.033072             False             False
2018-09-20  0.008587  0.014514             False             False
2018-09-21 -0.006575 -0.008557             False             False
2018-09-24 -0.009588 -0.004181             False             False

[1443 rows x 4 columns]

<h3>Create a new column "Trade_return"</h3>
<li>If Long_JPM_Short_C is True and Long_C_Short_JPM is False, the value of this column should be the return on JPM minus the return on C
<li>If Long_JPM_Short_C is False and Long_C_Short_JPM is True, the value of this column should be the return on C minus the return on JPM
<li>Otherwise the value should be zero

In [8]:
pairs=pairs.copy()
pairs['Trade_return'] = 0
for i in pairs.index:
    if pairs.loc[i,'Long_JPM_Short_C']==True and pairs.loc[i,'Long_C_Short_JPM']==False:
        pairs.loc[i,'Trade_return']= pairs.loc[i,'JPM']-pairs.loc[i,'C']
    elif pairs.loc[i,'Long_JPM_Short_C']==False and pairs.loc[i,'Long_C_Short_JPM']==True:
        pairs.loc[i,'Trade_return']= pairs.loc[i,'C']-pairs.loc[i,'JPM']
    
print(pairs)

Symbols          JPM         C  Long_JPM_Short_C  Long_C_Short_JPM  \
Date
2013-01-02       NaN       NaN             False             False
2013-01-03 -0.002015  0.003394             False             False
2013-01-04  0.017725  0.025127             False             False
2013-01-07  0.001102  0.000943             False             False
2013-01-08  0.001982 -0.000236             False             False
...              ...       ...               ...               ...
2018-09-18  0.004041  0.006772             False             False
2018-09-19  0.029046  0.033072             False             False
2018-09-20  0.008587  0.014514             False             False
2018-09-21 -0.006575 -0.008557             False             False
2018-09-24 -0.009588 -0.004181             False             False

Symbols     Trade_return
Date
2013-01-02           0.0
2013-01-03           0.0
2013-01-04           0.0
2013-01-07           0.0
2013-01-08           0.0
...                  ...
2018-09-18           0.0
2018-09-19           0.0
2018-09-20           0.0
2018-09-21           0.0
2018-09-24           0.0

[1443 rows x 5 columns]

<h3>Calculate the sum of this new column</h3>
<li>Are you going to get rich?

In [9]:
print(pairs['Trade_return'].sum())

-0.6793516982785628

<h3>Calculate the trade_return per year and per month</h3>
<li>Which year has the highest total returns/lowest losses?
<li>Which months in the year did you suffer a loss?
    
<h4> Note: loops will not be accepted

In [14]:
pairs=pairs.copy()
pairs['year']=pairs.index.year
pairs['month']=pairs.index.month
year_grouped=pd.DataFrame(pairs.groupby('year')['Trade_return'].sum())
year_grouped.columns=['return']
year_grouped= year_grouped.sort_values(by='return' ,ascending=False) 
print('lowest losses year: ',year_grouped.index[0])

specificyear= pairs.loc[pairs['year'] == year_grouped.index[0]]
month_grouped=pd.DataFrame(specificyear.groupby('month')['Trade_return'].sum())
month_grouped.columns=['return']
loss_month=month_grouped.loc[month_grouped['return']<0]
print('months that suffer a loss: ', list(loss_month.index))

lowest losses year:  2015
months that suffer a loss:  [4, 10]